body {
  background: #545454;
}

form {
  display: flex;
  flex-direction: column;

  input, button {
    height: 30px;
    margin-bottom: 20px;
    padding-left: 10px;
    background: #fff;
    border-radius: 5px;
    border: none;
  }

  input:active, input:hover, input:focus {
    outline: 0;
    outline-offset: 0;
  }

  button {
    background: #519945;
    margin-bottom: 0;
    cursor: pointer;
    color: #fff;

    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}